@{
    ViewBag.Title = "Index";
}

<h2>Student</h2>
<!---
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Milestone 3</h1>
        <p class="col-md-8 fs-4">Welcome to our website for the database 1 project</p>
    </div>
</div>
<div class="row">
    ->



    <!--
    EXAMPLE
    <div class="col-md-4">
        <h2>VIEW NAME</h2>
        <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/VIEW FILE NAME">BUTTON NAME </a></div>
    </div>
    -->
<!--PART 1-->
<div class="col-md-4">
    <h2> </h2>
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/optionalCourses">View Available Opional Courses </a></div>
</div>

<!--PART 2-->
</div>


