@{
    ViewBag.Title = "Index";
}

<h2>Student</h2>
<!---
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Milestone 3</h1>
        <p class="col-md-8 fs-4">Welcome to our website for the database 1 project</p>
    </div>
</div>
<div class="row">
</div>
->



<!--
EXAMPLE
<div class="col-md-n">
    <h2>VIEW NAME</h2>
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/VIEW FILE NAME">BUTTON NAME </a></div>
</div>
-->
<!--PART 1-->
<div class="col-md-4">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/optionalCoursesForm">View Available Optional Courses </a></div>
</div>

<div class="col-md-5">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/availableCourses">View Available Courses </a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/requiredCourses">View Required Courses </a></div>
</div>
<div class="col-md-6"> 
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/missingCources">View missing Courses </a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/addStudentPhone">Add your Phone number </a></div>
</div>

<!--PART 2-->
<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/GraduationPlan">View Graduation Plan</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/UpcomingInstallments">View Upcoming Installments</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/AllCoursesExams">View All Courses along with thier Exam</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/RegisterFirstMakeupForm">Register First Makeup</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/RegisterSecondMakeupForm">Register Second Makeup</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/AllCoursesSlots">View All Courses/Slots/Instructor</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/ViewSlots">View All Courses Taught By Instructor</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/ChooseInstructorForm">Choose Instructor</a></div>
</div>

<div class="col-md-9">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Student/AllCoursesPrerequisites">View Courses with Prerequisites</a></div>
</div>