@model DatabaseProject.Models.Student
@{
    ViewBag.Title = "sendCreditHourRequestForm";
}

<h2>send Credit Hour Request Form</h2>


@using (Html.BeginForm("sendCreditHourRequestForm", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mt-2">
            <label class="control-label col-md-2">Credit Hours</label>
            <div class="col-md-10">
                <input type="number" class="form-control" name="credit_hours" />
            </div>
        </div>

        <div class="form-group mt-2">
            <label class="control-label col-md-2">Student ID</label>
            <div class="col-md-10">
                <input type="number" class="form-control" name="student_id" />
            </div>
        </div>

        <div class="form-group mt-2">
            <label class="control-label col-md-2">Type</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="type" />
            </div>
        </div>

        <div class="form-group mt-2">
            <label class="control-label col-md-2">comment</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="comment" />
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="send request" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}


