@model List<DatabaseProject.Models.Installment>

@{
    ViewBag.Title = "UpcomingInstallments";
}

<h2>Upcoming Installments</h2>

<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            Deadline
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
        </tr>
    }

</table>
