
@{
    ViewBag.Title = "ViewSlotsForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Slots Form</h2>


@using (Html.BeginForm("ViewSlots", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mt-2">
            <label class="control-label col-md-2">Course ID</label>
            <div class="col-md-10">
                @Html.DropDownList("course_id", ViewBag.Courses as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group mt-2">
            <label class="control-label col-md-2">Instructor Code</label>
            <div class="col-md-10">
                @Html.DropDownList("instructor_id", ViewBag.Instructors as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}



