<div class="jumbotron">
    <h1>Milestone 3</h1>
    <p class="lead">Welcome to our website for the database 1 project   </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Student Components</h2>
        <p><a class="btn btn-default btn-lg" href="/Student">Student</a></p>
    </div>
    <div class="col-md-4">
        <h2>Advisor Component</h2>
        <p><a class="btn btn-default btn-lg" href="/Advisor">Advisor</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin Componenets</h2>
        <p><a class="btn btn-default btn-lg" href="/Admin">Admin</a></p>
    </div>
</div>
