
@{
    ViewBag.Title = "deleteCourseFromSlot";
}

<h2>deleteCourseFromSlot</h2>

@using (Html.BeginForm("DeleteCourseFromSlot", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Delete Unoffered Courses</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group row mt-3">
            <div class="col-3">
                <label class="control-label" for="semester_code">Semester Code </label>
            </div>
            <div class="col-md-8">
                @Html.DropDownList("semester_code", ViewBag.Semesters as SelectList)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")

</div>

