
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--PART 1-->
<h3>Part1</h3>
<div class="col-md-4">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/listAllAdvisors">List All Advisors</a></div>
</div>

<div class="col-md-5">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/availableCourses">View Available Courses </a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AddSemesterForm">Add Semester</a></div>
</div>


<!--PART 2-->
<h3>Part2</h3>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AllActiveStudent">View All active students</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/gradPlansWithInitAdvisors">View all graduation plans with advisors</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AllStudentsTranscript">View all students transcripts</a></div>
</div>