
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--PART 1-->
<h3>Part1</h3>
<div class="col-md-4">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/listAllAdvisors">List All Advisors</a></div>
</div>
<div class="col-md-4">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/listAllStudent">List All Students</a></div>
</div>
<div class="col-md-4">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AdminListPendingRequests">List All pending requests</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AddSemesterForm">Add Semester</a></div>
</div>
<div class="col-md-5">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AddCourseForm">Add Course</a></div>
</div>
<div class="col-md-5">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/linkInstructorCourseSlot">Link Instructor to course with slot</a></div>
</div>
<div class="col-md-5">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/linkStudentAdvisor">Link Student with Advisor</a></div>
</div>
<div class="col-md-5">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/linkStudentInstructor">Link Student and course with instructor</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/instructor_assingedcourses">View instructor with assigned courses</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/semesters_offeredcourses">View semesters with offered courses</a></div>
</div>


<!--PART 2-->
<h3>Part2</h3>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/DeleteCourseForm">Delete a course with its slots</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/deleteCourseFromSlot">Delete a slot of certain course</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AddExamForm">Add MakeupExam</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AllPaymentsWithCorrStudents">View all payments with students</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/issueInstallmentsForm">Issue installments</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/updateStudentStatusForm">Update Student Status</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AllActiveStudent">View All active students</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/gradPlansWithInitAdvisors">View all graduation plans with advisors</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AllStudentsTranscript">View all students transcripts</a></div>
</div>
<div class="col-md-6">
    <div class="pt-2"><a class="btn btn-default btn-lg btn-outline-dark" href="/Admin/AllSemestersWithOfferedCourses">View semesters with offered courses</a></div>
</div>