
@{
    ViewBag.Title = "linkStudentAdvisor";
}

<h2>linkStudentAdvisor</h2>


@using (Html.BeginForm("AdminLinkStudentToAdvisor", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mt-2">
            <label class="control-label col-md-2">Student</label>
            <div class="col-md-10">
                @Html.DropDownList("studentID", ViewBag.Students as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group mt-2">
            <label class="control-label col-md-2">Advisors</label>
            <div class="col-md-10">
                @Html.DropDownList("advisorID", ViewBag.Advisors as SelectList, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Link" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}