@model DatabaseProject.Models.Student

@{
    ViewBag.Title = "updateStudentStatus";
}

<h2>updateStudentStatus</h2>


@using (Html.BeginForm("updateStudentStatus", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4> Update Student Status </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group row mt-3">
            <div class="col-3">
                <label class="control-label" for="student_id">Student ID </label>
            </div>
            <div class="col-md-8">
                <input class="form-control text-box single-line" id="student_id" name="student_id" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}